#w{
  font-family: 'Courier New', monospace;
  color: #999999;
  font-size: 25px;
  margin-top: 40px;
}

#s{
  font-family: 'Courier New', monospace;
  font-size: 20px;
  color: #999999;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 4%;
}
